*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

.container{
    height: 100vh;
    width: 365px;
    /* border: 2px solid yellow; */
    background: url(https://ik.imagekit.io/3dj3selxl/todolistbg.png_updatedAt=1700761069523?updatedAt=1745386574060);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    text-align: center;
}

.content{
    border: 1px solid yellow;
    color: white;
}

.content .p1{
    margin-top: 60px;
    padding: 0 7px;
}

.task{
    margin: 20px 0;
    text-align: left;
    font-weight: 800;
}

.p2{
    text-align: left;
}

button{
    margin: 20px 0;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.skip{
    text-decoration: underline;
}